div(ng-show='user')
  .row
    div.col-md-2.thumbnail
      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/800px-Smiley.svg.png')
    div.col-md-10
      h1 {{ user.username }}
      h3 ZIP: {{ user.profile.zipcode }}
  .row
    div.col-md-12
      h3 My Interests
      form(ng-submit='add_interest()')
        div.input-group.col-md-6
          input.form-control(type='text', ng-model='interest', placeholder='Add new interest')
          span.input-group-btn
            button.btn.btn-default(type='submit') Add
      div.col-md-6
        table.table
          tr(ng-repeat='interest in myInterests')
            td {{ interest }}
            td
              a(ng-click='remove_interest(interest)')
                span.glyphicon.glyphicon-remove
