//- Only show if logged in
.row(ng-hide='loading')
  div.col-sm-12(ng-show='user')
    .row#searchBar
      div.col-sm-9
        div.input-group
          input.form-control(type='text', placeholder='What do you like to do? (separate interests with spaces)', ng-model='searchValues')
          div.input-group-btn
            button.btn.btn-default(ng-click="searchValues = ''") Clear
            button.btn.btn-default(ng-click='matchMyInterests()', title='Narrow your search down to people who share all of your interests') I'm Feeling Lucky

      div.col-sm-3
        select.form-control(ng-model='distance', ng-options='o as o for o in [1,5,10,20]')
          option(value='') Distance (miles)

    .row
      div.col-sm-12.alert.alert-danger(ng-show='error')
        p Oops, we ran into a problem while getting your data...
        p Is your zipcode valid?
        p Zipcode: {{ user.profile.zipcode }}
        p {{ message }}

    table.table
      tr(ng-repeat="user in filteredUsers = ( users | interestFilter:searchValues:'AND' | orderBy: user.distance | distanceFilter:distance )")
        td
          .row
            div.col-sm-2.thumbnail
              img(src='/media/{{user.profile.avatar}}')
            div.col-sm-4
              h3 {{ user.username }}
              table.profileTable
                tr
                  td ZIP code
                  td {{ user.profile.zipcode }}
                tr
                  td Distance
                  td {{ user.distance | number:2 }} miles
            div.col-sm-5
              .row-fluid.interest-wrapper
                h4 Interests:
                div(ng-show="user.profile.interests")
                  div.interest.label.label-primary(ng-repeat="interest in user.profile.interests") {{ interest }}
                p(ng-hide="user.profile.interests") None

    //- Show if filter doesn't match anybody
    h3.alert.alert-info(ng-show='!filteredUsers.length && !error && !loading') Nobody matches those criteria!

  //- Only show if logged out
  div.jumbotron(ng-hide='user')
    h1 Find a friend, launch an idea.
    h2 
      | Search for people in your area who are interested in the same types of
      | projects as you.
    br
    button.btn.btn-success.btn-lg(ng-click='goRegister()') Create an account to get started.
