//- Only show if logged in
div(ng-show='user')
  input.form-control(type='text', placeholder='What do you like to do?', ng-model='searchValues')

  table.table
    tr(ng-repeat="user in users | interestFilter:searchValues:'AND'") 
      td
        .row
          div.col-md-2.thumbnail
            img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/800px-Smiley.svg.png')
          div.col-md-4
            h3 {{ user.username }} 
            h4 ZIP: {{ user.profile.zipcode }} 
            h4 Distance: {{ user.distance | number:2 }} miles
          div.col-md-6
            h4 Interests:
            ul
              li(ng-repeat="interest in user.profile.interests") {{ interest }}

//- Only show if logged out
div(ng-hide='user')
  h1 Find a friend, launch an idea.
  h2 
    | Search for people in your area who are interested in the same types of
    | projects as you.
  h2
    | Create an account to get started.
  h2
    a(href='#/register/') Sign Up
