div
  div(ng-repeat="user in users") 
    ul
      li Username: {{ user.username }} 
      li Zipcode: {{ user.profile.zipcode }} 
      li Distance: {{ user.distance }}
      ul
        li(ng-repeat="interest in user.profile.interests") {{ interest }}
