html.no-js(ng-app="App")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chome=1")
    meta(name="viewport", content="width=device-width")


    //- Vendor scripts
    script(type="text/javascript", src="/static/vendor/jquery/jquery.js")
    script(type="text/javascript", src="/static/vendor/bootstrap/bootstrap.js")

    //- Angular scripts
    script(type="text/javascript", src="/static/vendor/angular/angular.js")
    script(type="text/javascript", src="/static/vendor/angular-route/angular-route.js")
    script(type="text/javascript", src="/static/vendor/angular-cookies/angular-cookies.js")
    script(type="text/javascript", src="/static/vendor/ng-file-upload/angular-file-upload.js")
    script(type="text/javascript", src="/static/js/app.js")
    script(type="text/javascript", src="/static/vendor/angular-bootstrap/ui-bootstrap-tpls.js")

    //- Controllers
    script(type="text/javascript", src="/static/js/main.js")
    script(type="text/javascript", src="/static/js/register.js")
    script(type="text/javascript", src="/static/js/login.js")
    script(type="text/javascript", src="/static/js/account.js")

    //- My scripts
    script(type="text/javascript", src="/static/js/index.js")

    //- Stylesheets
    link(rel="stylesheet", href="/static/vendor/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/static/css/style.css")

  body
    .container
      div.page-header
        h1 Launch It With Me 
          small Find, friend, found.

        .row
          div.col-md-2
            ul.nav.nav-pills.nav-stacked
              li
                a(href='#/') Home

              //- Only show when not logged in
              li
                a(href='#/register', ng-hide="user") Sign Up

              //- Only show when logged in
              li(ng-show="user")
                a(href='#/account') My Account
              li(ng-show="user", ng-controller='IndexCtrl')
                a(ng-click='logout()') Sign Out
          div.col-sm-10
            div.view-frame(ng-view)

    {% if user.is_authenticated %}
    script.
      App.run(function($rootScope) {
        $rootScope.user = {{user_json|safe}};
      });
      App.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['Authorization'] = 'Token {{user.api_key}}';
      }]);
    {% endif %}
